<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Chiroru News</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="themes.css" />
  <link href="http://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">
</head>
<body class="coverflow">
<div id="main">
  <article>
    <section style = "text-align:center; padding-top: 15px;"><%= link_to image_tag(@contents.first.image_url, :size => "350x350" ) , @contents.first.url %></section>
  </article>
</div>

<div id="forkme"><a href="">for you.</a></div>

<footer>
  <div class="credits">
    <p> <a href="" style ="text-align:center;">Chiroru News</a></p>
  </div>

  <div class="themes">
  </div>
</footer>

<script src="../assets/bespoke.js"></script>
<script src="../assets/demo.js"></script>
</body>
</html>