<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Chiroru News</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="test.css" />
  <link href="http://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">
</head>
<body class="coverflow">
<div id="main">
  <article>
    <% @contents.each do |obj| %>
      <section style="text-align:center;padding-top: 15px;" >
        <%= image_tag 'linebutton.png', :style => "position: absolute;top:-20px;right:-30px;width:110px;" %>
        <%= image_tag 'linebutton.png', :style => "position: absolute;top:-20px;left:-30px;width:110px;" %>
        <div style="position: absolute;bottom:30px;height:80px;left:81px;padding:10px;width:330px;height:100px;background:url(/assets/title_back.png); color: #ffffff" >
          <p style="font-size:30px;line-height:100px;">test</p>
        </div>
        <%= link_to image_tag(obj.image_url, :size => "350x350" ) , obj.url %>
      </section>
    <% end %>
</article>
</div>

<div id="forkme"><a href="">Recomend for you..</a></div>

<footer>
  <div class="credits">
    <p> <a href="" style ="text-align:center;">Chiroru News</a></p>
  </div>

  <div class="themes">
  </div>
</footer>

<script src="../assets/bespoke.js"></script>
<script src="../assets/demo.js"></script>
</body>
</html>