
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />















    <title>コスメ | Glitty（グリッティ）</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />




    <!-- for IE10 -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <!--[if lt IE 9 ]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <![endif]-->
    <!-- /for IE10 -->

    <link rel="start" href="http://www.glitty.jp/" title="Home" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/contents_servers.js"></script>
    <script src="/glitty_parts/common/js/userAgent.js"></script>




    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script src="/glitty_parts/common/js/jquery.easing.1.3.js"></script>
    <script src="/glitty_parts/pc/js/jquery.imagesloaded.min.js"></script>

    <!--[if IE]>
    <script src="/glitty_parts/pc/js/ie/xdr.js"></script>
    <script src="/glitty_parts/pc/js/ie/swfobject.js"></script>
    <![endif]-->

    <script src="/glitty_parts/common/js/jquery.lazyload.min.js"></script>
    <script src="/glitty_parts/common/js/config.js"></script>

    <script src="/glitty_parts/common/js/app.js"></script>
    <script src="/glitty_parts/common/js/socialize.js"></script>
    <script src="/glitty_parts/pc/js/main.js"></script>
    <script src="/glitty_parts/common/js/jquery.cookie.js"></script>
    <script src="/glitty_parts/common/js/exvalidation.js"></script>
    <script src="/glitty_parts/common/js/exchecker-ja.js"></script>
    <script src="/glitty_parts/common/js/members.js"></script>
    <script src="/glitty_parts/common/js/gads.js"></script>

    <!-- keywords,description,etc -->
    <meta name="Abstract" content="" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="glitty.jp" />
    <meta name="copyright" content="Copyright glitty.jp All rights reserverd." />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="http://www.glitty.jp/atom.xml" />
    <!-- /keywords,description,etc -->

    <!-- css -->
    <link href="/glitty_parts/pc/css/style.css" rel="stylesheet" type="text/css">
    <!-- /css -->

    <!-- OGP -->
    <meta property="og:site_name" content="Glitty（グリッティ）" />
    <meta property="fb:app_id" content="429818287075664" />



    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.glitty.jp/cosme/" />

    <meta property="og:title" content="コスメ | Glitty（グリッティ）" />
    <meta property="og:description" content="glitty" />
    <meta property="og:image" content="http://c1.glitty.jp/glitty_parts/common/img/share_icon.png"  />



    <!-- /OGP -->

    <!-- Google Site Search Put the following javascript before the closing </head> tag. -->
    <script>
        (function() {
            var cx = '009501744597345709040:qzeskm4x-0u';
            var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.co.jp/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    <!-- /Google Site Search -->

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35789027-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



    <script src="/glitty_parts/pc/js/jquery.ba-hashchange.min.js"></script>
    <script src="/glitty_parts/pc/js/archive.js"></script>
    <script type="text/javascript">
        var list_path = '/json/cosme.json';
        var outline_path = '/outline/';
        // moved from archive.js
        $(document).ready(function() {
            $archive_area = $('#archive_area');
            loadJSON();
        });
    </script>

</head>

<body>

<!--[maConArea]-->
<div id="maConArea">

<!--[pc_header]-->
<header>
    <!-- Cxense script begin -->
    <div id="cX-root" style="display:none"></div>
    <script type="text/javascript">
        var cX = cX || {}; cX.callQueue = cX.callQueue || [];
        var matches = location.href.match(/[?&]utm_medium=([^&#]+)/);
        if (matches && matches.length > 1) {
            var value = decodeURIComponent(matches[1]);
            console.log(value);
            //cX.callQueue.push(['setCustomParameters', { smartnews: value } ]);
        }
        cX.callQueue.push(['setSiteId', '9222321377638424888']);
        cX.callQueue.push(['sendPageViewEvent']);
    </script>
    <script type="text/javascript">
        (function() { try { var scriptEl = document.createElement('script'); scriptEl.type = 'text/javascript'; scriptEl.async = 'async';
            scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js' : 'http://cdn.cxense.com/cx.js';
            var targetEl = document.getElementsByTagName('script')[0]; targetEl.parentNode.insertBefore(scriptEl, targetEl); } catch (e) {};} ());
    </script>
    <!-- Cxense script end -->

    <!--hdInBlock-->
    <nav id="hdInBlock">
        <ul>
            <li><a href="http://www.gizmodo.jp/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/hd_ti_gizmodo.gif" width="89" height="40" alt="GIZMODO"></a></li>
            <li><a href="http://www.lifehacker.jp/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/hd_ti_lifehacker.gif" width="69" height="40" alt="Lifehacker"></a></li>
            <li><a href="http://www.kotaku.jp/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/hd_ti_kotaku.gif" width="71" height="40" alt="Kotaku"></a></li>
            <li><a href="http://www.cafeglobe.com/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/hd_ti_cafeglobe.gif" width="95" height="40" alt="cafeglobe"></a></li>
            <li><a href="http://www.mylohas.net/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/hd_ti_mylohas.gif" width="64" height="40" alt="MYLOHAS"></a></li>
            <li><a href="http://www.tabroid.jp/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/hd_ti_tabroid.gif" width="67" height="40" alt="TABROID"></a></li>
            <li><a href="http://www.roomie.jp/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/hd_ti_roomie.gif" width="78" height="40" alt="roomie"></a></li>
        </ul>
    </nav><!--/hdInBlock-->
    <!--hdWrap-->
    <div id="hdWrap">
        <h1><a href="/"><img src="http://c1.glitty.jp/glitty_parts/pc/img/hd_ti_01.gif" width="176" height="76" alt="glitty"></a></h1>
        <!--hdNavWrap-->
        <div id="hdNavWrap">
            <!--hdNavWrapIn-->
            <ul id="hdNavWrapIn">
                <li>
                    <!--hdNav-->
                    <nav id="hdNav">
                        <ul>
                            <li><a href="mailto&#58;&#103;&#108;i&#116;ty&#64;&#109;&#101;diage&#110;e&#46;&#99;&#111;&#46;jp?subject=%e3%81%8a%e5%95%8f%e3%81%84%e5%90%88%e3%82%8f%e3%81%9b">お問い合わせ</a></li>
                            <li><a href="/sitemap.html">サイトマップ</a></li>
                            <li><a href="/ad.html">広告掲載</a></li>
                        </ul>
                    </nav>
                </li><!--/hdNav-->
                <!--hdSNS-->
                <li>
                    <nav id="hdSNS">
                        <ul>
                            <li><a href="http://www.facebook.com/glitty.jp" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/hd_bt_01.gif" width="20" height="19" alt="facebook"></a></li>
                            <li><a href="https://twitter.com/GLITTY_JP" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/hd_bt_02.gif" width="20" height="19" alt="twitter"></a></li>
                            <li><a href="https://plus.google.com/105178930869483864930" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/hd_bt_03.gif" width="20" height="19" alt="google plus"></a></li>
                            <li>
                                <form action="/search/" method="get" id="cse-search-box">
                                    <fieldset>
                                        <legend>サイト内検索</legend>
                                        <input type="hidden" name="cx" value="009501744597345709040:qzeskm4x-0u" />
                                        <input type="hidden" name="ie" value="UTF-8" />
                                        <input type="hidden" name="cof" value="FORID:11" />
                                        <input name="q" id="hdKeywords" type="text" value="" maxlength="30" tabindex="1" />
                                        <input type="image" title="検索" alt="検索" value="検索" id="hdSubmit" name="hdSubmit" src="http://c1.glitty.jp/glitty_parts/pc/img/hd_bt_04.gif" tabindex="2" class="ui_rollOver" />
                                    </fieldset>
                                    <script type="text/javascript" src="http://www.google.co.jp/coop/cse/brand?form=cse-search-box&lang=ja"></script>
                                </form>
                            </li>
                        </ul><!--/hdNavWrapIn-->
                    </nav>
                    <!--/hdSNS-->
                </li>
            </ul>
            <!--gNav-->
            <nav id="gNav">
                <ul>
                    <li id="gNavLi01"><a href="/love">恋愛</a></li>
                    <li id="gNavLi02"><a href="/fashion">ファッション</a></li>
                    <li id="gNavLi03"><a href="/beauty">キレイ</a></li>
                    <li id="gNavLi04"><a href="/cosme">コスメ</a></li>
                    <li id="gNavLi05"><a href="/lifestyle">ライフスタイル</a></li>
                    <li id="gNavLi06"><a href="/present">プレゼント</a></li>
                </ul>
            </nav><!--/gNav-->
        </div><!--/hdNavWrap-->
    </div><!--/hdWrap-->
    <script src="/glitty_parts/pc/js/get_sns_link.js"></script>
</header>
<!--[/pc_header]-->

<!--[coArea]-->
<div id="coArea">

<!--pc_pageTop-->
<div class="g_pageTopBtn">
    <p><a href="#"><span>PAGE</span>TOP</a></p>
</div>
<!--/pc_pageTop-->

<!--[pc_sideBlock]-->
<div id="siBlock">

<!--pc_sideBanner01-->
<aside id="siBanner_01">


    <script language='javascript' src='http://ds.advg.jp/adpds_deliver/js/pjs.js'></script>
    <script language='javascript'>adpds_js('http://ds.advg.jp/adpds_deliver', 'adpds_site=glitty&adpds_frame=waku_159607');</script>
    <noscript>
        <a target='_blank' href='http://ds.advg.jp/adpds_deliver/p/r?adpds_site=glitty&adpds_frame=waku_159607'>
            <img src='http://ds.advg.jp/adpds_deliver/p/img?adpds_site=glitty&adpds_frame=waku_159607' border=0 /></a>
    </noscript>


</aside>
<!--/pc_sideBanner01-->

<!--pc_sideLogin-->
<section id="siPcSideLogin">

    <!--siLoginArea-->
    <section id="siLoginArea">
        <!--siLogin-->
        <div id="siLogin">
            <h2><img src="http://c1.glitty.jp/glitty_parts/pc/img/si_ti_01.gif" width="300" height="23" alt="ログイン"></h2>
            <p>SNSでログインすると無料特典がいっぱい！</p>


            <!--siSnsLogin-->
            <div class="g_snsLogin">
                <ul>
                    <li class="facebook">
                        <a id="facebook_login" href="#">
                            <img src="http://c1.glitty.jp/glitty_parts/pc/img/si_fb_btn.gif" width="133" height="28" alt="Facebookでログイン"></a>
                    </li>
                    <li class="twitter">
                        <a id="twitter_login" href="#">
                            <img src="http://c1.glitty.jp/glitty_parts/pc/img/si_tw_btn.gif" width="132" height="28" alt="Twitterでログイン"></a>
                    </li>
                    <!--popup form-->
                    <form id="gigya_params" action="https://secure.mediagene.co.jp/member/from_sns.php?media=2" method="POST">
                        <input id="gigya_email" name="gigya_email" type="hidden">
                        <input id="gigya_birthyear" name="gigya_birthyear" type="hidden">
                        <input id="gigya_birthmonth" name="gigya_birthmonth" type="hidden">
                        <input id="gigya_birthday" name="gigya_birthday" type="hidden">
                        <input id="gigya_uid" name="gigya_uid" type="hidden">
                        <input id="media" name="media" value="2" type="hidden">
                    </form>
                    <!--popup form-->
                    <!--popup form-->
                    <form id="addmedia_params" action="https://secure.mediagene.co.jp/member/add_media.php?media=2" method="POST">
                        <input id="add_media" name="add_media" value="2" type="hidden">
                        <input id="add_gigya_uid" name="add_gigya_uid" type="hidden">
                        <input id="add_session_id" name="add_session_id" type="hidden">
                    </form>
                    <!--popup form-->
                </ul>
            </div>
            <!--/siSnsLogin-->
            <form class="g_sideForm" onsubmit="return false;">
                <table id="g_loginForm"><tr>
                    <th>メールアドレス</th>
                    <td><input id="side_email" name="email" type="text" class="text"></td>
                </tr><tr>
                    <th>パスワード</th>
                    <td><input id="side_password" name="password" type="password" class="text"></td>
                </tr><tr>
                    <td colspan="2"><input id="is_auto_login" type="checkbox" name="auto_login" value="">次回から自動でログイン</td>
                </tr><tr>
                    <td class="login_button align_center" colspan="2"><button type="submit" id="side_login_button"><img src="http://c1.glitty.jp/glitty_parts/pc/img/co_bt_02.gif" width="195" height="28" alt="ログイン"></button></td>
                </tr><tr>
                    <td colspan="2" class=""><p><a href="https://secure.mediagene.co.jp/member/reminder.php?media=2">パスワードを忘れた方はこちら</a></p></td>
                </tr></table>
                <ul class="g_formLinkList">
                    <li><a href="https://secure.mediagene.co.jp/member/welcome.php?media=2">メールアドレスでグリッティ新規会員登録</a></li>
                    <li><a href="/ieflash.html">Internet Explorer をお使いの方</a></li>
                </ul>
            </form>
        </div><!--siLogin-->
    </section><!--/siLoginArea-->

    <!--siLogoutArea-->
    <section id="siLogoutArea">
        <!--siLogin-->
        <div id="siLogin">
            <h2><img src="http://c1.glitty.jp/glitty_parts/pc/img/si_ti_07.gif" width="300" height="23" alt="アカウントサービス"></h2>
            <!--siSnsLogin-->
            <div class="g_snsLogin">
                <ul>
                    <li><a href="/mypage.html"><img src="http://c1.glitty.jp/glitty_parts/pc/img/co_bt_06.gif" width="195" height="28" alt="マイページ"></a></li>
                    <li><a href="javascript:void(0)" id="logout_button"><img src="http://c1.glitty.jp/glitty_parts/pc/img/co_bt_05.gif" width="195" height="28" alt="ログアウト"></a></li>
                </ul>
            </div><!--siLogin-->
        </div><!--/siSnsLogin-->
    </section><!--/siLogoutArea-->

</section>

<!--/pc_sideLogin-->

<div id="siBlockTopics">
    <!--pc_sidePresent-->
    <section id="siPresent">
        <h2><img src="http://c1.glitty.jp/glitty_parts/pc/img/si_ti_02.gif" width="312" height="47" alt="新着プレゼント"></h2>
        <ul>

            <li>
                <a href="http://www.glitty.jp/2013/12/034235sunsorit1209.html">
                    <div class="g_coBoxLiImg">

                        <img src="http://c1.glitty.jp/assets_c/2013/11/131127SkinPeelBarHydroquinol01-thumb-80x80-70803.jpg" alt="プレゼント画像">

                    </div>
                    <div class="g_coBoxLiTxt">
                        <!-- <h3>100人が応募中！</h3> -->
                        <p class="contents_boxlist_title">ドクターお墨付きのピーリング石けんでくすみなしの赤ちゃん肌に！</p>
                        <p class="contents_boxlist_body">ピーリングって、いまでこそ自宅で気軽にケアできるアイテムがあります...</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="http://www.glitty.jp/2013/12/034212ryukyubihada_habu.html">
                    <div class="g_coBoxLiImg">

                        <img src="http://c1.glitty.jp/assets_c/2013/11/131125habu-thumb-80x80-70600.jpg" alt="プレゼント画像">

                    </div>
                    <div class="g_coBoxLiTxt">
                        <!-- <h3>100人が応募中！</h3> -->
                        <p class="contents_boxlist_title">美容番長たちが注目する「ハブ」マスクシート</p>
                        <p class="contents_boxlist_body">コスメマニアの間で、ちょっとした話題になっている『琉球美肌』のシー...</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="http://www.glitty.jp/2013/12/034210amphi1202.html">
                    <div class="g_coBoxLiImg">

                        <img src="http://c1.glitty.jp/assets_c/2013/11/131125amphi02-thumb-80x80-70583.jpg" alt="プレゼント画像">

                    </div>
                    <div class="g_coBoxLiTxt">
                        <!-- <h3>100人が応募中！</h3> -->
                        <p class="contents_boxlist_title">おうちデートを盛り上げるラブリー＆あったかインナー</p>
                        <p class="contents_boxlist_body">インナーが温かくて心地よければ、おうち時間をもっと楽しめる！　まず...</p>
                    </div>
                </a>
            </li>

        </ul>
        <div class="g_siBtn">
            <p>
                <a href="/present">
                    <img src="http://c1.glitty.jp/glitty_parts/pc/img/co_bt_04.gif" width="90" height="23" alt="一覧を見る">
                </a>
            </p>
        </div>
    </section>
    <!--/pc_sidePresent-->

    <!--pc_sideFortune-->
    <section id="siFortune">
        <h2><img src="http://c1.glitty.jp/glitty_parts/pc/img/si_ti_03.gif" width="312" height="47" alt="鏡リュウジの恋メッセージ"></h2>



        <div id="g_fortuneData">
            <p>【鏡リュウジ】12月の恋占い 全体運 </p>
        </div>
        <ul class="fortune_kagami">
            <li>
                <a id="fortune_link" href="http://www.glitty.jp/2013/12/034346kagami12.html">

                    <div class="g_coBoxLiImg">


                        <img data-original="http://www.glitty.jp/assets_c/2013/09/130926kagami_uranai-thumb-80x80-67149.jpg" class="lazy" width="80" height="80" alt="">


                    </div>

                    <div class="g_coBoxLiTxt">
                        <p>希望を感じられる新しいアイディアや未来への可能性を信じてポジティブに動く少数の人たちと、それを冷ややかに否定的に眺める多…</p>
                    </div>
                </a>
            </li>
        </ul>





        <div id="g_fortuneData">
            <p>haruの恋占い「12月の物語」（全体運）</p>
        </div>
        <ul>
            <li>
                <a id="fortune_link" href="http://www.glitty.jp/2013/12/034356haru12.html">

                    <div class="g_coBoxLiImg">


                        <img data-original="http://www.glitty.jp/assets_c/2013/09/130926haru_uranai-thumb-80x80-67237.jpg" class="lazy" width="80" height="80" alt="">


                    </div>

                    <div class="g_coBoxLiTxt">
                        <p>今月は「昔、手にしていた愛」が復活したり、「ずっと寄り添ってくれていた愛」に突然気づいたりと、馴染みのある風景のなかで優…</p>
                    </div>
                </a>
            </li>
        </ul>

    </section>
    <!--/pc_sideFortune-->

    <!--pc_sidePickup-->
    <!--計算 -->





    <!-- 特集のループ回数 -->
    <!-- インデックのループ回数0 -->

    <!-- 合計のループ数0 -->



    <!--/pc_sidePickup-->
</div>

<!--pc_sideBanner02-->
<aside id="siBanner_02">


    <script language='javascript' src='http://ds.advg.jp/adpds_deliver/js/pjs.js'></script>
    <script language='javascript'>adpds_js('http://ds.advg.jp/adpds_deliver', 'adpds_site=glitty&adpds_frame=waku_159608');</script>
    <noscript>
        <a target='_blank' href='http://ds.advg.jp/adpds_deliver/p/r?adpds_site=glitty&adpds_frame=waku_159608'>
            <img src='http://ds.advg.jp/adpds_deliver/p/img?adpds_site=glitty&adpds_frame=waku_159608' border=0></a>
    </noscript>


</aside>
<!--/pc_sideBanner02-->

<!--pc_sideBanner300-->

<div class="readers_banner">
    <a href="/2013/06/029592glitty_readers.html">
        <img src="http://c1.glitty.jp/images/glitty_parts/common/img/glitty_readers.jpg" width="300" height="100" alt="読者エディター">
    </a>
</div>

<div class="readers_banner">
    <a href="/special/glam/?gtunName=gerble">
        <img src="http://c1.glitty.jp/glitty_parts/common/img/si_bn_gerble.jpg" width="300" height="100" alt="ジェルブレ">
    </a>
</div>



<!--/pc_sideBanner300-->

<!--pc_sideBanner03-->
<aside id="siBanner_03">
    <script language='javascript' src='http://ds.advg.jp/adpds_deliver/js/pjs.js'></script>
    <script language='javascript'>adpds_js('http://ds.advg.jp/adpds_deliver', 'adpds_site=glitty&adpds_frame=waku_168646');</script>
    <noscript>
        <a target='_blank' href='http://ds.advg.jp/adpds_deliver/p/r?adpds_site=glitty&adpds_frame=waku_168646'>
            <img src='http://ds.advg.jp/adpds_deliver/p/img?adpds_site=glitty&adpds_frame=waku_168646' border=0></a>
    </noscript>
</aside>
<!--/pc_sideBanner03-->

</div>


<!--[/pc_sideBlock]-->

<!--[maBlock]-->
<div id="maBlock">



<!--g_maCoList-->
<section id="g_maCoList">

<div id="g_coTitle">
    <h2>
        <small>


            <img src="http://c1.glitty.jp/glitty_parts/pc/img/
cosme
.png">

            コスメ
        </small>
        「コスメ」に関する記事一覧
    </h2>
</div>

<!-- google ad -->
<div class="gads">
    <script>
        google_ad_client =  'ca-pub-2605419517314899';
        google_ad_channel =  '1822095065';
        google_ad_slot =  '6079738267';
        google_override_format =  'true';
        google_ad_width =  468;
        google_ad_height =  90;
        google_ad_type =  'text';
        google_color_link =  '#55f';
        google_color_text =  '#000';
        google_color_bg =  '#FFFFFF';
        google_color_url =  '#008000';
        google_language =  'ja';
    </script>
    <script src="https://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>
<!-- /google ad -->

<!--pc_archive-->
<ol id="archive_area">









<!--list-->
<li>
    <div class="g_coBoxLiImg">


        <a href="http://www.glitty.jp/2013/12/033235131201mac.html"><img data-original="http://www.glitty.jp/assets_c/2013/10/131205riri-thumb-201x201-68282.jpg" class="lazy" width="201" height="201" alt="完売続きのリップを手に入れるラストチャンス！ リアーナ×『M・A・C』第4弾はクリスマスコフレ 関連画像"></a>


    </div>
    <div class="g_coBoxLiTxt">
        <h3>
            <small>2013.12.01 09:45</small>
            <a href="http://www.glitty.jp/2013/12/033235131201mac.html">完売続きのリップを手に入れるラストチャンス！ リアーナ×『M・A・C』第4弾はクリスマスコフレ</a>
        </h3>
        <p>
            完売続きで話題になっている、歌姫リアーナ×『M・A・C』のコラボコレクション第4弾が、12月12日（木）より発売になり…</p>

        <div class="g_snsBox">
            <div class="share_bar" id="topShareBar33235"></div>
            <div class="custom_reaction_bar" id="customReactionsUI33235">

                <script type="text/javascript">
                    Socialize.setShareAndReactions("http://www.glitty.jp/2013/12/033235131201mac.html", "完売続きのリップを手に入れるラストチャンス！ リアーナ×『M・A・C』第4弾はクリスマスコフレ", "33235");
                </script>
            </div>
            <div class="g_caBoxList">
                <p>カテゴリ:</p>
                <ul>

                    <li><a href="http://www.glitty.jp/news/cat765/">クリスマス</a></li>

                    <li><a href="http://www.glitty.jp/cosme/">コスメ</a></li>

                    <li><a href="http://www.glitty.jp/news/">ニュース</a></li>

                </ul>
            </div>
        </div>
</li>
<!--/list-->








<!--list-->
<li>
    <div class="g_coBoxLiImg">


        <a href="http://www.glitty.jp/2013/11/034233post_7861.html"><img data-original="http://www.glitty.jp/assets_c/2013/11/131122top1-thumb-201x201-70475.png" class="lazy" width="201" height="201" alt="これで落ちない男はいないでしょ？ 艶っぽいまなざしをつくるアイメイク 関連画像"></a>


    </div>
    <div class="g_coBoxLiTxt">
        <h3>
            <small>2013.11.22 12:45</small>
            <a href="http://www.glitty.jp/2013/11/034233post_7861.html">これで落ちない男はいないでしょ？ 艶っぽいまなざしをつくるアイメイク</a>
        </h3>
        <p>こんにちは、ヘアメイクアップアーティストの新見千晶です。
            ちらほらと街のイルミネーションが灯りはじめ、わくわくするクリス…</p>

        <div class="g_snsBox">
            <div class="share_bar" id="topShareBar34233"></div>
            <div class="custom_reaction_bar" id="customReactionsUI34233">

                <script type="text/javascript">
                    Socialize.setShareAndReactions("http://www.glitty.jp/2013/11/034233post_7861.html", "これで落ちない男はいないでしょ？ 艶っぽいまなざしをつくるアイメイク", "34233");
                </script>
            </div>
            <div class="g_caBoxList">
                <p>カテゴリ:</p>
                <ul>

                    <li><a href="http://www.glitty.jp/beauty/">キレイ</a></li>

                    <li><a href="http://www.glitty.jp/cosme/">コスメ</a></li>

                    <li><a href="http://www.glitty.jp/beauty/cat760/">メイク術</a></li>

                    <li><a href="http://www.glitty.jp/plan/cat124/">愛されメイク</a></li>

                    <li><a href="http://www.glitty.jp/plan/">連載</a></li>

                </ul>
            </div>
        </div>
</li>
<!--/list-->








<!--list-->
<li>
    <div class="g_coBoxLiImg">


        <a href="http://www.glitty.jp/2013/11/033530paulandjoebodycare1125.html"><img data-original="http://www.glitty.jp/assets_c/2013/10/1111paulandjoebeaute-thumb-201x201-69044.jpg" class="lazy" width="201" height="201" alt="お待ちかねのポール ＆ ジョー新作は、こっくり肌にとろけるボディミルク＆バーム 関連画像"></a>


    </div>
    <div class="g_coBoxLiTxt">
        <h3>
            <small>2013.11.11 18:45</small>
            <a href="http://www.glitty.jp/2013/11/033530paulandjoebodycare1125.html">お待ちかねのポール ＆ ジョー新作は、こっくり肌にとろけるボディミルク＆バーム</a>
        </h3>
        <p>レトロモダンなパッケージ、ドリーミーな色合いと優しいテクスチャーで、多くの女性の心をとらえて放さない「POUL ＆ JO…</p>

        <div class="g_snsBox">
            <div class="share_bar" id="topShareBar33530"></div>
            <div class="custom_reaction_bar" id="customReactionsUI33530">

                <script type="text/javascript">
                    Socialize.setShareAndReactions("http://www.glitty.jp/2013/11/033530paulandjoebodycare1125.html", "お待ちかねのポール ＆ ジョー新作は、こっくり肌にとろけるボディミルク＆バーム", "33530");
                </script>
            </div>
            <div class="g_caBoxList">
                <p>カテゴリ:</p>
                <ul>

                    <li><a href="http://www.glitty.jp/cosme/">コスメ</a></li>

                    <li><a href="http://www.glitty.jp/present/">プレゼント</a></li>

                </ul>
            </div>
        </div>
</li>
<!--/list-->








<!--list-->
<li>
    <div class="g_coBoxLiImg">


        <a href="http://www.glitty.jp/2013/11/029723post_7052.html"><img data-original="http://www.glitty.jp/assets_c/2013/10/131030cosme-thumb-201x201-69145.jpg" class="lazy" width="201" height="201" alt="後ろからギュッと...思わず抱きしめたくなる香り 関連画像"></a>


    </div>
    <div class="g_coBoxLiTxt">
        <h3>
            <small>2013.11.07 09:45</small>
            <a href="http://www.glitty.jp/2013/11/029723post_7052.html">後ろからギュッと...思わず抱きしめたくなる香り</a>
        </h3>
        <p>「抱きしめて」。
            ...なんて女の子から言えないけど、大丈夫！</p>

        <div class="g_snsBox">
            <div class="share_bar" id="topShareBar29723"></div>
            <div class="custom_reaction_bar" id="customReactionsUI29723">

                <script type="text/javascript">
                    Socialize.setShareAndReactions("http://www.glitty.jp/2013/11/029723post_7052.html", "後ろからギュッと...思わず抱きしめたくなる香り", "29723");
                </script>
            </div>
            <div class="g_caBoxList">
                <p>カテゴリ:</p>
                <ul>

                    <li><a href="http://www.glitty.jp/cosme/">コスメ</a></li>

                </ul>
            </div>
        </div>
</li>
<!--/list-->








<!--list-->
<li>
    <div class="g_coBoxLiImg">


        <a href="http://www.glitty.jp/2013/11/033598131105make.html"><img data-original="http://www.glitty.jp/assets_c/2013/11/131105rip-thumb-201x201-69396.jpg" class="lazy" width="201" height="201" alt="視線くぎづけ！ 彼がチューしたくなる唇をつくる 関連画像"></a>


    </div>
    <div class="g_coBoxLiTxt">
        <h3>
            <small>2013.11.05 12:45</small>
            <a href="http://www.glitty.jp/2013/11/033598131105make.html">視線くぎづけ！ 彼がチューしたくなる唇をつくる</a>
        </h3>
        <p>みなさんこんにちは、ヘアメイクアップアーティストの新見千晶です。
            冬の悩みといえばカサカサする唇の乾燥。いつでも、「ぷる…</p>

        <div class="g_snsBox">
            <div class="share_bar" id="topShareBar33598"></div>
            <div class="custom_reaction_bar" id="customReactionsUI33598">

                <script type="text/javascript">
                    Socialize.setShareAndReactions("http://www.glitty.jp/2013/11/033598131105make.html", "視線くぎづけ！ 彼がチューしたくなる唇をつくる", "33598");
                </script>
            </div>
            <div class="g_caBoxList">
                <p>カテゴリ:</p>
                <ul>

                    <li><a href="http://www.glitty.jp/cosme/">コスメ</a></li>

                    <li><a href="http://www.glitty.jp/plan/cat124/">愛されメイク</a></li>

                    <li><a href="http://www.glitty.jp/plan/">連載</a></li>

                </ul>
            </div>
        </div>
</li>
<!--/list-->








<!--list-->
<li>
    <div class="g_coBoxLiImg">


        <a href="http://www.glitty.jp/2013/11/033489kesalanpatharan1104.html"><img data-original="http://www.glitty.jp/assets_c/2013/10/20131104kesalanpatharan-thumb-201x201-68362.jpg" class="lazy" width="201" height="201" alt="まるでファーのような温かみのある輝き！ 大人の魅力満載のクリスマス限定コスメ 関連画像"></a>


    </div>
    <div class="g_coBoxLiTxt">
        <h3>
            <small>2013.11.04 18:45</small>
            <a href="http://www.glitty.jp/2013/11/033489kesalanpatharan1104.html">まるでファーのような温かみのある輝き！ 大人の魅力満載のクリスマス限定コスメ</a>
        </h3>
        <p>この時期、女子が心待ちにしているのがクリスマスコフレですよね！ なかでもひと際目をひくのが「ケサランパサラン」のクリスマ…</p>

        <div class="g_snsBox">
            <div class="share_bar" id="topShareBar33489"></div>
            <div class="custom_reaction_bar" id="customReactionsUI33489">

                <script type="text/javascript">
                    Socialize.setShareAndReactions("http://www.glitty.jp/2013/11/033489kesalanpatharan1104.html", "まるでファーのような温かみのある輝き！ 大人の魅力満載のクリスマス限定コスメ", "33489");
                </script>
            </div>
            <div class="g_caBoxList">
                <p>カテゴリ:</p>
                <ul>

                    <li><a href="http://www.glitty.jp/news/cat765/">クリスマス</a></li>

                    <li><a href="http://www.glitty.jp/cosme/">コスメ</a></li>

                    <li><a href="http://www.glitty.jp/news/">ニュース</a></li>

                    <li><a href="http://www.glitty.jp/present/">プレゼント</a></li>

                </ul>
            </div>
        </div>
</li>
<!--/list-->








<!--list-->
<li>
    <div class="g_coBoxLiImg">


        <a href="http://www.glitty.jp/2013/10/033319131022make.html"><img data-original="http://www.glitty.jp/assets_c/2013/10/131021make1-thumb-201x201-68598.jpg" class="lazy" width="201" height="201" alt="頬をやさしく撫でてほしいから...「柔ツヤ美肌」になれるベストファンデーション 関連画像"></a>


    </div>
    <div class="g_coBoxLiTxt">
        <h3>
            <small>2013.10.22 12:45</small>
            <a href="http://www.glitty.jp/2013/10/033319131022make.html">頬をやさしく撫でてほしいから...「柔ツヤ美肌」になれるベストファンデーション</a>
        </h3>
        <p>こんにちは、ヘアメイクアップアーティストの新見千晶です。
            今年のトレンドは「柔ツヤ美肌」。ツヤ感はあるんだけど、ギラギラ…</p>

        <div class="g_snsBox">
            <div class="share_bar" id="topShareBar33319"></div>
            <div class="custom_reaction_bar" id="customReactionsUI33319">

                <script type="text/javascript">
                    Socialize.setShareAndReactions("http://www.glitty.jp/2013/10/033319131022make.html", "頬をやさしく撫でてほしいから...「柔ツヤ美肌」になれるベストファンデーション", "33319");
                </script>
            </div>
            <div class="g_caBoxList">
                <p>カテゴリ:</p>
                <ul>

                    <li><a href="http://www.glitty.jp/cosme/">コスメ</a></li>

                    <li><a href="http://www.glitty.jp/plan/cat124/">愛されメイク</a></li>

                    <li><a href="http://www.glitty.jp/plan/">連載</a></li>

                </ul>
            </div>
        </div>
</li>
<!--/list-->








<!--list-->
<li>
    <div class="g_coBoxLiImg">


        <a href="http://www.glitty.jp/2013/10/033393post_7733.html"><img data-original="http://www.glitty.jp/assets_c/2013/10/131011make1-thumb-201x201-68154.jpg" class="lazy" width="201" height="201" alt="かわいいと褒められるクリスマスコフレ＆活用術 関連画像"></a>


    </div>
    <div class="g_coBoxLiTxt">
        <h3>
            <small>2013.10.15 12:45</small>
            <a href="http://www.glitty.jp/2013/10/033393post_7733.html">かわいいと褒められるクリスマスコフレ＆活用術</a>
        </h3>
        <p>こんにちは、ヘアメイクアップアーティストの新見千晶です。
            すっかり季節は秋にシフトしましたが、これからの楽しみといえば、…</p>

        <div class="g_snsBox">
            <div class="share_bar" id="topShareBar33393"></div>
            <div class="custom_reaction_bar" id="customReactionsUI33393">

                <script type="text/javascript">
                    Socialize.setShareAndReactions("http://www.glitty.jp/2013/10/033393post_7733.html", "かわいいと褒められるクリスマスコフレ＆活用術", "33393");
                </script>
            </div>
            <div class="g_caBoxList">
                <p>カテゴリ:</p>
                <ul>

                    <li><a href="http://www.glitty.jp/cosme/">コスメ</a></li>

                    <li><a href="http://www.glitty.jp/plan/cat124/">愛されメイク</a></li>

                    <li><a href="http://www.glitty.jp/plan/">連載</a></li>

                </ul>
            </div>
        </div>
</li>
<!--/list-->








<!--list-->
<li>
    <div class="g_coBoxLiImg">


        <a href="http://www.glitty.jp/2013/10/032964fernanda1014.html"><img data-original="http://www.glitty.jp/assets_c/2013/09/131014Fernanda-thumb-201x201-67174.jpg" class="lazy" width="201" height="201" alt="思わず後をついて行きたくなる...そんな香りこそがモテを制す！ 関連画像"></a>


    </div>
    <div class="g_coBoxLiTxt">
        <h3>
            <small>2013.10.14 11:45</small>
            <a href="http://www.glitty.jp/2013/10/032964fernanda1014.html">思わず後をついて行きたくなる...そんな香りこそがモテを制す！</a>
        </h3>
        <p>男性がたまらなく好きな香りとして必ず口にするのが、「女性の髪からほんのりと漂う、優しい香り」。清潔感と女性らしさをもっと…</p>

        <div class="g_snsBox">
            <div class="share_bar" id="topShareBar32964"></div>
            <div class="custom_reaction_bar" id="customReactionsUI32964">

                <script type="text/javascript">
                    Socialize.setShareAndReactions("http://www.glitty.jp/2013/10/032964fernanda1014.html", "思わず後をついて行きたくなる...そんな香りこそがモテを制す！", "32964");
                </script>
            </div>
            <div class="g_caBoxList">
                <p>カテゴリ:</p>
                <ul>

                    <li><a href="http://www.glitty.jp/beauty/">キレイ</a></li>

                    <li><a href="http://www.glitty.jp/cosme/">コスメ</a></li>

                    <li><a href="http://www.glitty.jp/present/">プレゼント</a></li>

                </ul>
            </div>
        </div>
</li>
<!--/list-->



























































































































































































































































































































































































































































































































































































































































































































































































































































































































































</ol>
<!--/pc_archive-->

<!--g_pageNtn-->
<section id="g_pageNtn">
    <ul>



    </ul>
</section>
<!--/g_pageNtn-->

<!-- google ad -->
<div class="gads">
    <script>
        google_ad_client =  'ca-pub-2605419517314899';
        google_ad_channel =  '3298828269';
        google_ad_slot =  '6079738267';
        google_override_format =  'true';
        google_ad_width =  468;
        google_ad_height =  200;
        google_ad_type =  'text';
        google_color_link =  '#55f';
        google_color_text =  '#000';
        google_color_bg =  '#FFFFFF';
        google_color_url =  '#008000';
        google_language =  'ja';
    </script>
    <script src="https://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>
<!-- /google ad -->

</section><!--/g_maCoList-->

<!--pc_adArea-->
<section class="maCoArea">
    <!--maCoBlockWrap-->
    <div class="maCoBlockWrap">
        <!--maCoBlock_L-->
        <div class="maCoBlock_L g_bannerList">
            <ul>
                <li><a href="http://news.livedoor.com/category/vender/284/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/co_ti_livedoor.gif" width="134" height="37" alt="livedoorニュース"></a></li>
                <li><a href="http://woman.excite.co.jp/Culture/topics/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/co_ti_excite.gif" width="134" height="37" alt="woman excite"></a></li>
                <li><a href="http://news.ameba.jp/media/myspiritual/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/co_ti_ameba.gif" width="134" height="37" alt="アメーバニュース"></a></li>
                <li><a href="http://cobs.jp/news/myspi/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/co_ti_mynavinews.jpg" width="134" height="37" alt="マイナビニュース"></a></li>
                <li><a href="http://uranai.nifty.com/news/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/co_ti_nifty.gif" width="134" height="37" alt="占い@nifty"></a></li>
                <li><a href="http://news.nicovideo.jp/media/article/32" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/co_ti_niconico.gif" width="134" height="37" alt="ニコニコニュース"></a></li>
                <li><a href="http://okguide.okwave.jp/cafe/providers/myspiritual" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/co_ti_okguide.gif" width="134" height="39" alt="OKGuide"></a></li>
                <li><a href="http://news.auone.jp/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/co_ti_aunews.jpg" width="134" height="37" alt="auニュース"></a></li>

            </ul>
        </div>
        <!--/maCoBlock_L-->
        <!--maCoBlock_R-->
        <div class="maCoBlock_R g_adArea">
            <!--g_adBox-->
            <div id="g_adBox">
                <ul>
                    <li>
                        <p><strong>広告募集！</strong></p>
                    </li>
                    <li>
                        <p>Glittyはスポンサー様のおかげで今日も更新できています。もし「バナーを出稿しようかな」と思いましたら、こちらをご覧ください！</p>
                    </li>
                </ul>
                <div class="g_adBoxList">
                    <ul>
                        <li><a href="http://www.mediagene.co.jp/media/glitty/ad">媒体資料ダウンロード</a></li>
                        <li><a href="/ad.html">広告に関するお問合せ</a></li>
                    </ul>
                </div>
            </div>
            <!--/g_adBox-->
        </div>
        <!--/maCoBlock_R-->

    </div>
    <!--/maCoBlockWrap-->
</section>


<!--/pc_adArea-->

</div><!--[/maBlock]-->
</div><!--[/coArea]-->

<!--[footer]-->
<footer>
    <!-- Start of Amazon Publisher Studio Loader -->
    <script> window.amznpubstudioTag = "myspi09-22"; </script>
    <!-- Do not modify the following code ! -->
    <script async="true" type="text/javascript" src="http://ps-jp.amazon-adsystem.com/domains/mediagene-22_e4beafc8-8446-491a-a3e5-debf5ec3ac36.js" charset="UTF-8"></script>
    <!-- End of Amazon Publisher Studio Loader -->

    <!--ftCaNav-->
    <nav id="ftCaNav">
        <ul>
            <li><a href="/love">恋愛</a></li>
            <li><a href="/fashion">ファッション</a></li>
            <li><a href="/beauty">キレイ</a></li>
            <li><a href="/cosme">コスメ</a></li>
            <li><a href="/fortune">占い</a></li>
            <li><a href="/present">プレゼント</a></li>
        </ul>
    </nav><!--/ftCaNav-->
    <!--ftNav-->
    <nav id="ftNav">
        <ul>
            <li><a href="http://www.mediagene.co.jp/info/glitty_kiyaku">利用規約</a></li>
            <li><a href="http://www.mediagene.co.jp/info/privacy">プライバシーポリシー</a></li>
            <li><a href="mailto:glitty%40mediagene%2eco%2ejp?subject=%e3%81%8a%e5%95%8f%e3%81%84%e5%90%88%e3%82%8f%e3%81%9b">記事に関するお問い合わせ</a></li>
            <li><a href="/ad.html">広告に関するお問い合わせ</a></li>
            <li><a href="http://www.glitty.jp/glitty-staff.html">グリッティスタッフ一覧</a></li>
        </ul>
    </nav><!--/ftNav-->
    <!--g_ftCopyright-->
    <div id="g_ftCopyright">
        <p>Copyright &copy; mediagene inc. ALL RIGHTS RESERVED.</p>
    </div><!--/g_ftCopyright-->
    <!--g_ftLogoArea-->
    <div id="g_ftLogoArea">
        <ul>
            <li><a href="http://www.mediagene.co.jp/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/ft_ti_01.gif" width="70" height="14" alt="mediagene"></a></li>
            <li><a href="http://www.infobahn.co.jp/" target="_blank"><img src="http://c1.glitty.jp/glitty_parts/pc/img/ft_ti_02.gif" width="71" height="14" alt="INFOBAHN"></a></li>
        </ul>
    </div><!--/g_ftLogoArea-->
</footer>
<!--[if IE]>
<div id="flashContainer"></div>
<![endif]-->

<!--tag2013-->
<script type="text/javascript">
    <!--
    var blade_co_account_id='3891';
    var blade_group_id='';

    (function() {
        var host = (location.protocol == 'https:') ? 'https://d-track.send.microad.jp' : 'http://d-cache.microad.jp';
        var path = '/js/bl_track.js';

        var bs = document.createElement('script');
        bs.type = 'text/javascript'; bs.async = true;
        bs.charset = 'utf-8'; bs.src = host + path;

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(bs, s);
    })();
    -->
</script>

<!--tag.lad-->
<script type="text/javascript" src="//tag.ladmp.com/ot/tags.js?otid=f1950291925a43658361166745ca51e7" charset="UTF-8"></script>
<!--/tag.lad-->

<noscript>
    <iframe src ="//tag.ladmp.com/onetag?otid=f1950291925a43658361166745ca51e7" frameborder="0" height="1" width="1"></iframe>
</noscript>
<!--/tag-->

<!--20130321-->
<SCRIPT LANGUAGE="JavaScript" type="text/javascript">document.write('<SCR' + 'IPT language="JavaScript" type="text/javascript"  src="' +location.protocol+'//a248.e.akamai.net/f/248/45380/10m/dac1.download.akamai.com/45379/rsi/ut/a_31_719.js"></SCR' + 'IPT>');</SCRIPT>
<!--20130321-->

<!-- skimlinksタグ -->
<script type="text/javascript" src="http://s.skimresources.com/js/58690X1381578.skimlinks.js"></script>
<!-- /skimlinksタグ -->

<!--[/footer]-->

</div><!--[/maConArea]-->

</body>
</html>