
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" class="mode-default">
<head><script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
    <title>ヘアスタイルのまとめ | mery [メリー]</title>
    <meta charset="UTF-8">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mery_news">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:title" content="ヘアスタイルのまとめ | mery [メリー] - 女の子のためのキュレーションメディア">
    <meta property="og:type" content="article">
    <meta property="og:image" content="http://mery.jp/assets/ogp.png">
    <meta property="og:url" content="http://mery.jp/hairstyle">
    <meta property="og:description" content="「ヘアスタイル」に関するまとめが集まったページです。ボブ、ショート、ロング、ベリーショート、ミディアム、パーマ、アップ、結婚式、成人式、花嫁、パーティー、ウェディング、着物、披露宴、就活、振袖、浴衣、二次会、ヘアアレンジなど最新の可愛い髪型のまとめが見ることができます。">
    <meta property="fb:app_id" content="527961973891229" />
    <meta property="og:site_name" content="mery [メリー] | 女の子のためのキュレーションメディア">
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="qBaFKWy7wAXuI/qlDZAy5BRjb70eJQ4t35xMpdM5WKE=" name="csrf-token" />
    <link rel="canonical" href="http://mery.jp/hairstyle">

    <link rel='next' href='http://mery.jp/hairstyle?page=2' />
    <link rel="apple-touch-icon" href="http://mery.jp/assets/smart_phone/sp_icon-precomposed.png">
    <link href="/assets/application-bf6254f3ed785c868e7b6e9605217a7a.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/assets/application-576fbb010606209fd7e29e09736b12ab.js" type="text/javascript"></script>
    <script src="/assets/inside/add-5f3c74ed8048f0407335ee411d94737a.js" type="text/javascript"></script>
    <!--[if lte IE 8]>
    <script src="/assets/html5.js" type="text/javascript"></script>
    <![endif]-->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        var pluginUrl =
                '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
        _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
        _gaq.push(['_setAccount', 'UA-40368797-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-6JJ53"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-6JJ53');</script>
<!-- End Google Tag Manager -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=527961973891229";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header id="header">
    <div class="hd_in">
        <h1 class="logo"><a href="http://mery.jp/"><img alt="mery［メリー］" height="39" src="/assets/logo.png" width="111" /></a></h1>

        <form accept-charset="UTF-8" action="/search" class="hd_search" id="searchForm" method="get"><div style="margin:0;padding:0;display:inline"><input type="hidden" /></div>
            <input class="hd_search_input" id="q" name="q" placeholder="気になるワードを入力" type="text" />
            <input class="hd_search_btn" type="submit" value="" />
        </form>

        <ul class="hd_nav">
            <li><a href="/lists/new">まとめを作る</a></li>
            <li><a href="/users/sign_up">無料会員登録</a></li>
            <li><a href="/users/sign_in">ログイン</a></li>
        </ul>
    </div><!-- /.hd_in -->
</header>

<link href="/assets/inside/archive-1d40048aedd874a834c122be3b91cd6e.css" media="screen" rel="stylesheet" type="text/css" />

<section id="topBar">
    <ul class="topBar_in breadcrumb">
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">meryトップ</span></a></li>
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><strong itemprop="title">ヘアスタイル</strong></li>
    </ul>
</section>

<div id="wrapper" class="clearfix">
<div id="column_content">
<div id="archive_catch" class="cat_catch clearfix">
    <div class="cat_catch_main">
        <h1 class="archive_title">
            ヘアスタイル
        </h1>
        <p class="archive_lead">「ヘアスタイル」に関するまとめが集まったページです。ボブ、ショート、ロング、ベリーショート、ミディアム、パーマ、アップ、結婚式、成人式、花嫁、パーティー、ウェディング、着物、披露宴、就活、振袖、浴衣、二次会、ヘアアレンジなど最新の可愛い髪型のまとめが見ることができます。</p>
    </div><!-- /.archive_catch_main -->
    <img alt="ヘアスタイル" height="140" src="http://d5rvwflnqlj7s.cloudfront.net/1206/893fb51054b011e3a414120ebf00e867_6.jpg/thumb?1385459088" width="140" />
</div><!-- /#cat_catch -->

<div id="column_content_main" class="clearfix">
<div id="content">
<div class="title_list clearfix" style="padding-top:5px;">
    <h2>ヘアスタイルのまとめ一覧（ 368件中 1 - 20件を表示 ）</h2>
    <a href="/hairstyle.rss">
        <img alt="ヘアスタイルのRSS" height="15" src="/assets/icon_feed-bae7a82d1612879db3331633f4452f78.png" width="15" />
    </a>
</div>
<div class="article_list">
<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/7144">
            <img alt="【可愛すぎてキュン死する♡】東京ブレンドのヘアコンテストが熱い☆☆【いいね！を押して髪型決めよう♡】" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/7144/ll730cbe1944357835151e4b6dd1b6d589.jpg/thumb?1385783011" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/7144">【可愛すぎてキュン死する♡】東京ブレンドのヘアコンテストが熱い☆☆【いいね！を押して髪型決めよう♡】</a></h3>
        <p class="article_list_lead">クリエイティブなヘアクリエイター集団【東京ブレンド】の開催した『ヘアスタイルコンテスト』『TOKYO BLEND  AWARD』が今かなり熱い♡みんなで可愛い...</p>

        <ul class="article_list_info">
            <li class="article_list_like">6</li>
            <li class="article_list_view">｜4548view</li>
            <li class="article_list_user">｜
                <a href="/user/air_kimura">
                    <img alt="木村直人" height="15" src="http://d23moiq7kwttau.cloudfront.net/5961/1375823_555888214491584_1567605510_n.jpg/thumb?1384662494" width="15" />
                    木村直人
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/7120">
            <img alt="おでこ出しですっきり！可愛い前髪アレンジで愛されヘアに♡" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/7120/normal/thumb?1385798665" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/7120">おでこ出しですっきり！可愛い前髪アレンジで愛されヘアに♡</a></h3>
        <p class="article_list_lead">ヘアスタイル全体の中でも印象を大きく左右するのは「前髪」。ポンパドール、編み込み、猫耳アレンジなど可愛い前髪のアレンジをたくさん紹介します。</p>

        <ul class="article_list_tag">
            <li><a href="/tag/312">前髪</a></li>
            <li><a href="/tag/4454">前髪アレンジ</a></li>
            <li><a href="/tag/4086">ポンパドール</a></li>
            <li><a href="/tag/18">編み込み</a></li>
            <li><a href="/tag/4994">ヘアアクセサリー</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">0</li>
            <li class="article_list_view">｜819view</li>
            <li class="article_list_user">｜
                <a href="/user/r223">
                    <img alt="RINOT" height="15" src="http://d23moiq7kwttau.cloudfront.net/3696/meryicon.jpg/thumb?1378814605" width="15" />
                    RINOT
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/7130">
            <img alt="おしゃれ女子はみんな知ってる！？人気のヘアカラー、バレイヤージュって？" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/7130/o0800053312683991956.jpg/thumb?1385741251" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/7130">おしゃれ女子はみんな知ってる！？人気のヘアカラー、バレイヤージュって？</a></h3>
        <p class="article_list_lead">外人風ヘアーになれるカラーリング、バレイヤージュ。人気モデルも愛用する、最近人気のこのカラーについて、たっぷりご紹介します。</p>

        <ul class="article_list_tag">
            <li><a href="/tag/243">ヘアカラー</a></li>
            <li><a href="/tag/3759">瀬戸晴加</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">20</li>
            <li class="article_list_view">｜6293view</li>
            <li class="article_list_user">｜
                <a href="/user/rayon">
                    <img alt="Rachel.♪" height="15" src="http://d23moiq7kwttau.cloudfront.net/1682/2013_11_12_19_35(1).jpg/thumb?1384252689" width="15" />
                    Rachel.♪
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/7066">
            <img alt="Silent Siren山内あいなのニット帽ヘアアレンジがかわいすぎる♡" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/7066/normal/thumb?1385701355" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/7066">Silent Siren山内あいなのニット帽ヘアアレンジがかわいすぎる♡</a></h3>
        <p class="article_list_lead">青文字系雑誌の読者モデルや、Silent Siren（サイレントサイレン）のメンバーとして活躍中のあいにゃんこと山内あいな。女の子らしいふんわり巻きおろ...</p>

        <ul class="article_list_tag">
            <li><a href="/tag/3568">山内あいな</a></li>
            <li><a href="/tag/171">Silent Siren</a></li>
            <li><a href="/tag/17">ヘアアレンジ</a></li>
            <li><a href="/tag/243">ヘアカラー</a></li>
            <li><a href="/tag/4047">ニット帽</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">7</li>
            <li class="article_list_view">｜3998view</li>
            <li class="article_list_user">｜
                <a href="/user/yuka-38">
                    <img alt="さくちゃん" height="15" src="http://d23moiq7kwttau.cloudfront.net/2/IMG_4044.JPG/thumb?1371635664" width="15" />
                    さくちゃん
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/7064">
            <img alt="『やっぱり冬は可愛くなりたい♡』ときめくHAPPY X&#x27;mas☆　ミディアムStyleまとめ♪" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/7064/IMG_1399.JPG/thumb?1385696289" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/7064">『やっぱり冬は可愛くなりたい♡』ときめくHAPPY X&#x27;mas☆　ミディアムStyleまとめ♪</a></h3>
        <p class="article_list_lead">クリスマスに向けてやっぱり可愛くならなくっちゃ♪もう一度彼の心をときめかし、意中の人の心を動かす♡そんなHAPPYなクリスマスを過ごしたいあなた...</p>

        <ul class="article_list_tag">
            <li><a href="/tag/4672">クリスマス</a></li>
            <li><a href="/tag/4181">大人カワイイ</a></li>
            <li><a href="/tag/269">人気</a></li>
            <li><a href="/tag/17">ヘアアレンジ</a></li>
            <li><a href="/tag/21">ミディアムヘア</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">4</li>
            <li class="article_list_view">｜2051view</li>
            <li class="article_list_user">｜
                <a href="/user/ura-toshi">
                    <img alt="Toshi" height="15" src="http://d23moiq7kwttau.cloudfront.net/6440/IMG_0545.JPG/thumb?1384868670" width="15" />
                    Toshi
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/7061">
            <img alt="THE 前髪" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/7061/main_large.jpg/thumb?1385693518" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/7061">THE 前髪</a></h3>
        <p class="article_list_lead">女性にとって前髪はとても重要！！前髪はヘアスタイルの印象を大きく左右します。ショートボブに似合う前髪、かわいいモテ髪にあう前髪などナチュラル...</p>

        <ul class="article_list_tag">
            <li><a href="/tag/312">前髪</a></li>
            <li><a href="/tag/4454">前髪アレンジ</a></li>
            <li><a href="/tag/62">ヘアカタログ</a></li>
            <li><a href="/tag/21">ミディアムヘア</a></li>
            <li><a href="/tag/164">ショートヘア</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">6</li>
            <li class="article_list_view">｜4052view</li>
            <li class="article_list_user">｜
                <a href="/user/caddy">
                    <img alt="caddy" height="15" src="http://d23moiq7kwttau.cloudfront.net/6419/image.jpg/thumb?1385017927" width="15" />
                    caddy
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/7042">
            <img alt="可愛い簡単スタイリング♪ナチュラルヘアスタイル" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/7042/IMGP9702.JPG/thumb?1385640360" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/7042">可愛い簡単スタイリング♪ナチュラルヘアスタイル</a></h3>
        <p class="article_list_lead">可愛い簡単スタイリング♪ナチュラルヘアスタイル簡単にできて可愛いこれ最強です。そんなヘアスタイルを紹介していきまーす♪</p>

        <ul class="article_list_info">
            <li class="article_list_like">2</li>
            <li class="article_list_view">｜1530view</li>
            <li class="article_list_user">｜
                <a href="/user/takashi">
                    <img alt="takashi" height="15" src="http://d23moiq7kwttau.cloudfront.net/6852/B003675114.jpg/thumb?1385466718" width="15" />
                    takashi
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/7035">
            <img alt="【間違いのない可愛さ♡】憧れのショート&amp;ボブヘア徹底まとめ【憧れる♡】" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/7035/792349_428837580529982_1599844215_o.jpg/thumb?1385626634" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/7035">【間違いのない可愛さ♡】憧れのショート&amp;ボブヘア徹底まとめ【憧れる♡】</a></h3>
        <p class="article_list_lead">筆者が撮り下し好評を得たもの（Facebookにて５００いいね！以上）のみをまとめた徹底ショート&amp;ボブファイル♡これさえ見ればもう短めも怖くない！？...</p>

        <ul class="article_list_info">
            <li class="article_list_like">21</li>
            <li class="article_list_view">｜10547view</li>
            <li class="article_list_user">｜
                <a href="/user/air_kimura">
                    <img alt="木村直人" height="15" src="http://d23moiq7kwttau.cloudfront.net/5961/1375823_555888214491584_1567605510_n.jpg/thumb?1384662494" width="15" />
                    木村直人
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/7023">
            <img alt="【ナチュラルなクセ、ショート】でも可愛いが倍増♫" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/7023/2J8A8974.JPG/thumb?1385610699" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/7023">【ナチュラルなクセ、ショート】でも可愛いが倍増♫</a></h3>
        <p class="article_list_lead">可愛いクセを活かさない手はない！！コンプレックスを逆手にとって逆にせめてみるのもありかと！！そんなこんなで髪を好きになりましょう！！</p>

        <ul class="article_list_info">
            <li class="article_list_like">1</li>
            <li class="article_list_view">｜833view</li>
            <li class="article_list_user">｜
                <a href="/user/ryota">
                    <img alt="RYOTA" height="15" src="http://d23moiq7kwttau.cloudfront.net/6744/image.jpg/thumb?1385310276" width="15" />
                    RYOTA
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/7009">
            <img alt="冬にあえて挑戦したい！レインボーヘアカラーがかわいい♡" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/7009/normal/thumb?1385554017" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/7009">冬にあえて挑戦したい！レインボーヘアカラーがかわいい♡</a></h3>
        <p class="article_list_lead">今年流行りのレインボーヘアをあえて冬にやってみるのもいいかもしれません...！かわいいレインボーヘアカラーの写真を見れば挑戦してみたくなっちゃ...</p>

        <ul class="article_list_tag">
            <li><a href="/tag/3635">河北麻友子</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">6</li>
            <li class="article_list_view">｜5249view</li>
            <li class="article_list_user">｜
                <a href="/user/koto_152">
                    <img alt="こっちゃん" height="15" src="http://d23moiq7kwttau.cloudfront.net/6/large_(4).jpg/thumb?1375783157" width="15" />
                    こっちゃん
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/6967">
            <img alt="簡単なのに小洒落て見える♡ターバンヘアバンドを使ったヘアアレンジ" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/6967/Katherine-Jenkins_120524.jpg/thumb?1385533982" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/6967">簡単なのに小洒落て見える♡ターバンヘアバンドを使ったヘアアレンジ</a></h3>
        <p class="article_list_lead">ショートヘアーからロングヘアーまでに使えるターバンヘアバンド☆今日はどんなヘアースタイルで決めようかな♪わくわくがいっぱいです☆</p>

        <ul class="article_list_tag">
            <li><a href="/tag/450">ヘアバンド</a></li>
            <li><a href="/tag/5044">ターバン</a></li>
            <li><a href="/tag/17">ヘアアレンジ</a></li>
            <li><a href="/tag/164">ショートヘア</a></li>
            <li><a href="/tag/21">ミディアムヘア</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">10</li>
            <li class="article_list_view">｜4461view</li>
            <li class="article_list_user">｜
                <a href="/user/yurina55">
                    <img alt="yurina55" height="15" src="/assets/noimage_person.png" width="15" />
                    yurina55
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/6994">
            <img alt="関西発♪やっぱりボブが好き♡『I　LOVE♡ BOB』まとめ♪" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/6994/_AIJ1885iii_-_%E3%82%B3%E3%83%94%E3%83%BC.jpg/thumb?1385543659" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/6994">関西発♪やっぱりボブが好き♡『I　LOVE♡ BOB』まとめ♪</a></h3>
        <p class="article_list_lead">やっぱりボブが好き～♡ロングだけどミディアムだけどボブが気になる♡そんなあなたに送る☆関西発♪やっぱりボブが好き♡『I　LOVE♡ BOB』まとめ♪</p>

        <ul class="article_list_tag">
            <li><a href="/tag/659">ボブ</a></li>
            <li><a href="/tag/4541">ショートボブ</a></li>
            <li><a href="/tag/62">ヘアカタログ</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">7</li>
            <li class="article_list_view">｜9331view</li>
            <li class="article_list_user">｜
                <a href="/user/aijimatsui">
                    <img alt="aijimatsui" height="15" src="http://d23moiq7kwttau.cloudfront.net/6443/image.jpg/thumb?1384868236" width="15" />
                    aijimatsui
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/6816">
            <img alt="お気に入りがきっと見つかる♡ヘアバンドを使ったアレンジ30！" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/6816/normal.jpg/thumb?1385388201" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/6816">お気に入りがきっと見つかる♡ヘアバンドを使ったアレンジ30！</a></h3>
        <p class="article_list_lead">簡単なのに付けるだけでおしゃれ上級者に見えちゃうヘアバンド♡柄や素材もいっぱいあるから、いろんなファッションに合わせられるのも魅力です！ロン...</p>

        <ul class="article_list_tag">
            <li><a href="/tag/450">ヘアバンド</a></li>
            <li><a href="/tag/17">ヘアアレンジ</a></li>
            <li><a href="/tag/63">ロングヘア</a></li>
            <li><a href="/tag/164">ショートヘア</a></li>
            <li><a href="/tag/494">ポニーテール</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">39</li>
            <li class="article_list_view">｜10276view</li>
            <li class="article_list_user">｜
                <a href="/user/misaki_nagisa">
                    <img alt="misaki_nagisa" height="15" src="http://d23moiq7kwttau.cloudfront.net/6073/image.jpg/thumb?1384154230" width="15" />
                    misaki_nagisa
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/6983">
            <img alt="【アレンジセット】は後ろのちょっとしたクズシで決まる♪" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/6983/IMG_8151.JPG/thumb?1385536406" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/6983">【アレンジセット】は後ろのちょっとしたクズシで決まる♪</a></h3>
        <p class="article_list_lead">こつは！指でキュッと引っぱるコト☆何事も、真面目になりすぎずラフにラフにだけど、TPOに合わせてその質感を変えて行くのはプロ急な技♪</p>

        <ul class="article_list_info">
            <li class="article_list_like">0</li>
            <li class="article_list_view">｜1626view</li>
            <li class="article_list_user">｜
                <a href="/user/tiana">
                    <img alt="tiana" height="15" src="http://d23moiq7kwttau.cloudfront.net/6789/DSC_0204.jpg/thumb?1385455844" width="15" />
                    tiana
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/6936">
            <img alt="✂古都から発信✂　冬に甘めなパーマstyle　　　ｂｙ　SR" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/6936/8432.jpg/thumb?1385534351" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/6936">✂古都から発信✂　冬に甘めなパーマstyle　　　ｂｙ　SR</a></h3>
        <p class="article_list_lead">古都奈良から発信！！！この冬が忘れられない思い出に・・・ナチュラル思考な貴女へオススメなパーマスタイル特集♡</p>

        <ul class="article_list_tag">
            <li><a href="/tag/64">セミロング</a></li>
            <li><a href="/tag/17">ヘアアレンジ</a></li>
            <li><a href="/tag/63">ロングヘア</a></li>
            <li><a href="/tag/587">パーマ</a></li>
            <li><a href="/tag/630">ショート</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">2</li>
            <li class="article_list_view">｜974view</li>
            <li class="article_list_user">｜
                <a href="/user/srintheroom">
                    <img alt="SR~intheroom~" height="15" src="http://d23moiq7kwttau.cloudfront.net/6810/IMG_0074.JPG/thumb?1385557280" width="15" />
                    SR~intheroom~
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/6957">
            <img alt="【揺れる、動く、なびく】は可愛いの定番♡" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/6957/2J8A8513.JPG/thumb?1385520734" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/6957">【揺れる、動く、なびく】は可愛いの定番♡</a></h3>
        <p class="article_list_lead">やはり、髪は動かなきゃ！！なびく髪、動く髪には…ドキッとしちゃうこと間違いなし。</p>

        <ul class="article_list_tag">
            <li><a href="/tag/17">ヘアアレンジ</a></li>
            <li><a href="/tag/63">ロングヘア</a></li>
            <li><a href="/tag/21">ミディアムヘア</a></li>
            <li><a href="/tag/164">ショートヘア</a></li>
            <li><a href="/tag/4541">ショートボブ</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">7</li>
            <li class="article_list_view">｜3392view</li>
            <li class="article_list_user">｜
                <a href="/user/ryota">
                    <img alt="RYOTA" height="15" src="http://d23moiq7kwttau.cloudfront.net/6744/image.jpg/thumb?1385310276" width="15" />
                    RYOTA
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/6913">
            <img alt="JJブロモ田中美彩のヘアバンドを使ったヘアアレンジがお洒落すぎる♡" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/6913/29e16393a41edbd744bd738696ae8f29.jpeg/thumb?1385458183" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/6913">JJブロモ田中美彩のヘアバンドを使ったヘアアレンジがお洒落すぎる♡</a></h3>
        <p class="article_list_lead">JJ専属ブロモとして活躍中の田中美彩。ヘアバンドやヘアターバンを使ったヘアアレンジがすきな田中美彩の髪型がとってもかわいい！服装に合わせて雰囲...</p>

        <ul class="article_list_tag">
            <li><a href="/tag/17">ヘアアレンジ</a></li>
            <li><a href="/tag/5044">ターバン</a></li>
            <li><a href="/tag/450">ヘアバンド</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">14</li>
            <li class="article_list_view">｜5397view</li>
            <li class="article_list_user">｜
                <a href="/user/yuka-38">
                    <img alt="さくちゃん" height="15" src="http://d23moiq7kwttau.cloudfront.net/2/IMG_4044.JPG/thumb?1371635664" width="15" />
                    さくちゃん
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/6921">
            <img alt="耳かけワンカールボブ♪" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/6921/DSC_0838.JPG/thumb?1385456256" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/6921">耳かけワンカールボブ♪</a></h3>
        <p class="article_list_lead">耳かけラフな感じは今も人気♪オシャレさんは、サイドを刈り上げちゃったり！ただ、刈り上げるとちょっと強めの印象にもなるので、よ〜く美容師さんと...</p>

        <ul class="article_list_tag">
            <li><a href="/tag/659">ボブ</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">0</li>
            <li class="article_list_view">｜2240view</li>
            <li class="article_list_user">｜
                <a href="/user/tiana">
                    <img alt="tiana" height="15" src="http://d23moiq7kwttau.cloudfront.net/6789/DSC_0204.jpg/thumb?1385455844" width="15" />
                    tiana
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/6471">
            <img alt="海外セレブに学ぶ♡リボンカチューシャの髪型アレンジ方法" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/6471/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%EF%BC%882013-11-25_19.01.15%EF%BC%89.png/thumb?1385373695" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/6471">海外セレブに学ぶ♡リボンカチューシャの髪型アレンジ方法</a></h3>
        <p class="article_list_lead">リボンカチューシャは普段使いから結婚式などお呼ばれバーティヘアまで使える♥ヘアアレンジの参考になりそうな海外セレブのリボンカチューシャ着用ス...</p>

        <ul class="article_list_tag">
            <li><a href="/tag/449">カチューシャ</a></li>
            <li><a href="/tag/17">ヘアアレンジ</a></li>
            <li><a href="/tag/3648">リボン</a></li>
            <li><a href="/tag/3766">GOSSIPGIRL</a></li>
            <li><a href="/tag/90">パーティー</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">13</li>
            <li class="article_list_view">｜5081view</li>
            <li class="article_list_user">｜
                <a href="/user/hivanovic">
                    <img alt="hivanovic" height="15" src="http://d23moiq7kwttau.cloudfront.net/4100/o0273044712639166846.jpg/thumb?1380117584" width="15" />
                    hivanovic
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:85px;">
        <a href="/6874">
            <img alt="【ショートスタイル】はスタイリングで可愛さ倍増！" height="75" src="http://d5rvwflnqlj7s.cloudfront.net/6874/2J8A0356.JPG/thumb?1385385559" width="75" />
        </a>
    </div>
    <div class="article_list_text">
        <h3 class="article_list_title"><a href="/6874">【ショートスタイル】はスタイリングで可愛さ倍増！</a></h3>
        <p class="article_list_lead">可愛い、カッコいい、ショートスタイルはいかにして、作るか。見せるか。鍵となるのは…</p>

        <ul class="article_list_tag">
            <li><a href="/tag/20">ショートカット</a></li>
        </ul>
        <ul class="article_list_info">
            <li class="article_list_like">2</li>
            <li class="article_list_view">｜1245view</li>
            <li class="article_list_user">｜
                <a href="/user/ryota">
                    <img alt="RYOTA" height="15" src="http://d23moiq7kwttau.cloudfront.net/6744/image.jpg/thumb?1385310276" width="15" />
                    RYOTA
                </a>
            </li>
        </ul>
    </div>
</li>

</div><!-- /.article_list -->

<div id="paginate">

    <strong>1</strong>

    <a href="/hairstyle?page=2" rel="next">2</a>

    <a href="/hairstyle?page=3">3</a>

    <a href="/hairstyle?page=4">4</a>

    <!-- <span class="page gap"><span class="translation_missing" title="translation missing: ja.views.pagination.truncate">Truncate</span></span> -->




    <span>...</span>
    <a href="/hairstyle?page=10">10</a>


</div>

</div><!-- /#content -->

<nav id="nav">
    <script src="/assets/inside/scroll-ff4d0c63edc05d792a979ae3fdf3373b.js" type="text/javascript"></script>

    <ul id="scroll_follow">
        <li class="nav_all"><a href="/">総合</a></li>
        <li class="nav_fashion"><a href="/fashion">ファッション</a></li>
        <li class="nav_make"><a href="/cosme">メイク・コスメ</a></li>
        <li class="nav_hair"><strong><a href="/hairstyle">ヘアスタイル</a></strong></li>
        <li class="nav_beauty"><a href="/beauty">美容</a></li>
        <li class="nav_love"><a href="/love">恋愛</a></li>
        <li class="nav_life"><a href="/lifestyle">ライフスタイル</a></li>
        <li class="nav_nail"><a href="/nail">ネイル</a></li>
        <li class="nav_gourmet"><a href="/gourmet">グルメ</a></li>
        <li class="nav_travel"><a href="/travel">旅行・おでかけ</a></li>
    </ul>



</nav>
</div><!-- #column_content_main -->
</div><!-- #column_content -->

<div id="column_sidebar">
    <div class="side_ad">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-7814648875439418";
        /* PCサイドバー */
        google_ad_slot = "6366051483";
        google_ad_width = 300;
        google_ad_height = 250;
        //-->
        </script>
        <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>

    </div>

    <div class="title_section">
        <div class="title_section_in">
            <h2>アクセスランキング</h2>
            <p>昨日人気のあったヘアスタイルのまとめ</p>
        </div>
    </div><!-- /.title_section -->
    <div class="side_article_list">
        <div class="article_list_content">
            <div class="article_list_thumb" style="width:60px;">
                <a href="/2850">
                    <img alt="前髪には９パターンある！簡単イメチェン方法☆" height="50" src="http://d5rvwflnqlj7s.cloudfront.net/2850/BBHD8QgCIAAZ5jz.jpg_large/thumb?1376200524" width="50" />
                    <img alt="1位" class="icon_rank" src="/assets/icon_rank1-1ad2ef7b6d037eb04a8845a454f5df93.png" />
                </a>
            </div>
            <div class="article_list_text">
                <p class="side_article_title"><a href="/2850">前髪には９パターンある！簡単イメチェン方法☆</a></p>
                <p class="side_article_user"><a href="/user/chibihona26">ほなちゃん</a></p>
            </div>
        </div><!-- /.side_article_content -->
        <div class="article_list_content">
            <div class="article_list_thumb" style="width:60px;">
                <a href="/1067">
                    <img alt="男ウケ抜群！ショートヘアのかわいい髪型アレンジまとめ" height="50" src="http://d5rvwflnqlj7s.cloudfront.net/1067/normal/thumb?1370440567" width="50" />
                    <img alt="2位" class="icon_rank" src="/assets/icon_rank2-8f8db147b077f192810cd43c6f35803e.png" />
                </a>
            </div>
            <div class="article_list_text">
                <p class="side_article_title"><a href="/1067">男ウケ抜群！ショートヘアのかわいい髪型アレンジまとめ</a></p>
                <p class="side_article_user"><a href="/user/rikaaa">rika♡</a></p>
            </div>
        </div><!-- /.side_article_content -->
        <div class="article_list_content">
            <div class="article_list_thumb" style="width:60px;">
                <a href="/1206">
                    <img alt="《大人気ブロガー》桃のヘアアレンジを今すぐ真似したーい！♡" height="50" src="http://d5rvwflnqlj7s.cloudfront.net/1206/893fb51054b011e3a414120ebf00e867_6.jpg/thumb?1385459088" width="50" />
                    <img alt="3位" class="icon_rank" src="/assets/icon_rank3-cda518affc2e29b1e18c1a97b98e24d6.png" />
                </a>
            </div>
            <div class="article_list_text">
                <p class="side_article_title"><a href="/1206">《大人気ブロガー》桃のヘアアレンジを今すぐ真似したーい！♡</a></p>
                <p class="side_article_user"><a href="/user/yuka-38">さくちゃん</a></p>
            </div>
        </div><!-- /.side_article_content -->
        <div class="article_list_content">
            <div class="article_list_thumb" style="width:60px;">
                <a href="/6816">
                    <img alt="お気に入りがきっと見つかる♡ヘアバンドを使ったアレンジ30！" height="50" src="http://d5rvwflnqlj7s.cloudfront.net/6816/normal.jpg/thumb?1385388201" width="50" />
                    <img alt="4位" class="icon_rank" src="/assets/icon_rank4-be2904e1d81798c44ae3efb41fea68c0.png" />
                </a>
            </div>
            <div class="article_list_text">
                <p class="side_article_title"><a href="/6816">お気に入りがきっと見つかる♡ヘアバンドを使ったアレンジ30！</a></p>
                <p class="side_article_user"><a href="/user/misaki_nagisa">misaki_nagisa</a></p>
            </div>
        </div><!-- /.side_article_content -->
        <div class="article_list_content">
            <div class="article_list_thumb" style="width:60px;">
                <a href="/1806">
                    <img alt="伸ばしかけの斜め前髪、どうセットする？簡単アレンジでマンネリ解消☆" height="50" src="http://d5rvwflnqlj7s.cloudfront.net/1806/%E3%81%8F%E3%81%BF%E3%81%A3%E3%81%8D%E3%83%BC.jpg/thumb?1369742235" width="50" />
                    <img alt="5位" class="icon_rank" src="/assets/icon_rank5-5c280e53b85bacc1443d937841765f8f.png" />
                </a>
            </div>
            <div class="article_list_text">
                <p class="side_article_title"><a href="/1806">伸ばしかけの斜め前髪、どうセットする？簡単アレンジでマンネリ解消☆</a></p>
                <p class="side_article_user"><a href="/user/sachiro666">sachiro666</a></p>
            </div>
        </div><!-- /.side_article_content -->
    </div>


    <div class="title_section">
        <div class="title_section_in">
            <h2>人気のキュレーター</h2>
            <p>ヘアスタイルカテゴリで人気のキュレーター</p>
        </div>
    </div><!-- /.title_section -->
    <div class="side_article_list">
        <div class="side_curator_content clearfix">
            <div class="side_curator_thumb">
                <a href="/user/yuka-38">
                    <img alt="さくちゃん" height="65" src="http://d23moiq7kwttau.cloudfront.net/2/IMG_4044.JPG/thumb?1371635664" width="65" />
                </a>
            </div>
            <div class="side_curator_info">
                <p class="side_curator_name"><a href="/user/yuka-38">さくちゃん</a></p>
                <p class="side_curator_desc">ライブ／旅行／STARBUCKS／Disney／ワクワクすることがだいすき。</p>
            </div>
        </div>
        <div class="side_curator_content clearfix">
            <div class="side_curator_thumb">
                <a href="/user/koto_152">
                    <img alt="こっちゃん" height="65" src="http://d23moiq7kwttau.cloudfront.net/6/large_(4).jpg/thumb?1375783157" width="65" />
                </a>
            </div>
            <div class="side_curator_info">
                <p class="side_curator_name"><a href="/user/koto_152">こっちゃん</a></p>
                <p class="side_curator_desc"></p>
            </div>
        </div>
        <div class="side_curator_content clearfix">
            <div class="side_curator_thumb">
                <a href="/user/miku0907">
                    <img alt="みくちゃん" height="65" src="http://d23moiq7kwttau.cloudfront.net/23/16330352.jpeg/thumb?1372434526" width="65" />
                </a>
            </div>
            <div class="side_curator_info">
                <p class="side_curator_name"><a href="/user/miku0907">みくちゃん</a></p>
                <p class="side_curator_desc">大学２年＊埼玉県在住＊ＡＭＯちゃん＊ＢＩＧＢＡＮＧ</p>
            </div>
        </div>
    </div>

    <div class="title_section">
        <div class="title_section_in">
            <h2>ヘアスタイルに関するキーワード</h2>
            <p>今話題のヘアスタイル関連ワード</p>
        </div>
    </div><!-- /.title_section -->
    <ul class="side_keyword" id="tags">
        <li class="tag"><a href="/tag/3890">マーメイドカラー</a></li>
        <li class="tag"><a href="/tag/164">ショートヘア</a></li>
        <li class="tag"><a href="/tag/310">黒髪</a></li>
        <li class="tag"><a href="/tag/3865">巻き髪</a></li>
        <li class="tag"><a href="/tag/4420">おだんご</a></li>
        <li class="tag"><a href="/tag/4994">ヘアアクセサリー</a></li>
        <li class="tag"><a href="/tag/4095">ハーフアップ</a></li>
        <li class="tag"><a href="/tag/3693">ツインテール</a></li>
        <li class="tag"><a href="/tag/63">ロングヘア</a></li>
        <li class="tag"><a href="/tag/449">カチューシャ</a></li>
        <li class="tag"><a href="/tag/659">ボブ</a></li>
        <li class="tag"><a href="/tag/243">ヘアカラー</a></li>
        <li class="tag"><a href="/tag/3562">三つ編み</a></li>
        <li class="tag"><a href="/tag/18">編み込み</a></li>
        <li class="tag"><a href="/tag/312">前髪</a></li>
        <li class="tag"><a href="/tag/17">ヘアアレンジ</a></li>
        <li class="tag"><a href="/tag/20">ショートカット</a></li>
        <li class="tag"><a href="/tag/450">ヘアバンド</a></li>
        <li class="tag"><a href="/tag/21">ミディアムヘア</a></li>
        <li class="tag"><a href="/tag/62">ヘアカタログ</a></li>
    </ul>
    <p class="genre_to_allTags">&raquo;&nbsp;<a href="/hairstyle/tag">ヘアスタイルに関するキーワード一覧</a></p>

    <div class="side_bottom_ad">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-7814648875439418";
        /* PCサイドバー２ */
        google_ad_slot = "3052547886";
        google_ad_width = 300;
        google_ad_height = 250;
        //-->
        </script>
        <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>

    </div>
</div><!-- /#column_sidebar -->
</div><!-- #wrapper -->

<ul class="bottomBreadcrumb">
    <li><a href="/">meryトップ</a></li>
    <li><a href="/categories">カテゴリ一覧</a></li>
    <li><strong>ヘアスタイル</strong></li>
</ul>



<footer>
    <div class="footer_in" class="clearfix">
        <div class="footer_logo">
            <a href="http://mery.jp">
                <img alt="mery [メリー]" height="35" src="/assets/logo-a43299f7741d9837d4b6ba069f224e53.png" width="100" />
            </a>
        </div>

        <div class="footer_about footer_column">
            <p>meryについて</p>
            <ul>
                <li><a href="http://peroli.jp/" target="_blank">運営会社</a></li>
                <li><a href="/site/select_contact">お問い合わせ</a></li>
                <li><a href="/site/rules">利用規約</a></li>
                <li><a href="/site/policy">プライバシーポリシー</a></li>
                <li><a href="/sitemap">サイトマップ</a></li>
            </ul>
            <ul>
                <li><a href="/search">まとめ一覧</a></li>
                <li><a href="/tag">キーワード一覧</a></li>
                <li><a href="/curators">キュレーター一覧</a></li>
                <!-- <li><a href="/items">アイテム一覧</a></li> -->

            </ul>
        </div><!-- /.footer_about -->

        <div class="footer_cat footer_column">
            <p><a href="/categories">まとめのカテゴリ一覧</a></p>
            <ul>
                <li><a href="/">ピックアップ</a></li>
                <li><a href="/fashion">ファッション</a></li>
                <li><a href="/cosme">メイク・コスメ</a></li>
                <li><a href="/nail">ネイル</a></li>
                <li><a href="/beauty">美容</a></li>
            </ul>
            <ul>
                <li><a href="/hairstyle">ヘアスタイル</a></li>
                <li><a href="/gourmet">グルメ</a></li>
                <li><a href="/travel">旅行・おでかけ</a></li>
                <li><a href="/love">恋愛</a></li>
                <li><a href="/lifestyle">ライフスタイル</a></li>
            </ul>
        </div><!-- /.footer_cat -->

        <div class="footer_topics footer_column">
            <p><a href="/topics">特集コンテンツ</a></p>
            <ul class="clearfix">
                <li>
                    <a href="/topics/3">2013年クリスマスコフレ特集</a>
                </li>
                <li>
                    <a href="/topics/6">2013年イルミネーション特集</a>
                </li>
                <li>
                    <a href="/topics/7">クリスマスコスプレ特集</a>
                </li>
                <li>
                    <a href="/topics/8">クリスマスプレゼント特集</a>
                </li>
            </ul>
        </div><!-- /.footer_topics -->
    </div><!-- /.footer_in -->
</footer>
<div class="bottom_tagline clearfix">
    <p>mery [メリー]｜女の子のためのキュレーションメディア</p>
    <div id="footer_share"></div>
    <script>
        $(function () {
            window.onload = function() {
                $('#footer_share').load("/users/share_btns");
            }
        });
    </script>
    <p class="copyright">Copyright&copy;&nbsp;Peroli Inc.</p>
</div><!-- /.bottom_tagline -->
<script type="text/javascript">if (typeof NREUMQ !== "undefined") { if (!NREUMQ.f) { NREUMQ.f=function() {
    NREUMQ.push(["load",new Date().getTime()]);
    var e=document.createElement("script");
    e.type="text/javascript";
    e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
            "js-agent.newrelic.com/nr-100.js";
    document.body.appendChild(e);
    if(NREUMQ.a)NREUMQ.a();
};
    NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
    NREUMQ.push(["nrfj","beacon-2.newrelic.com","5f8f7cc78a","2275930","JVlaREFZDl0AQ04DDQFpV1FHUwVeF1gEEksOV11CQEIbXQA=",0,748,new Date().getTime(),"","","","",""]);}</script></body>
</html>
